<div class="jumbotron">
  <h1>Hello Engineer,</h1>

  <p>
    This project is a part of the recruitment process for QA position in Kraków office of Ubiquiti Networks Polska.
  </p>

  <p>
    We are looking for a QA developer to write automated tests in Karma and Protractor, for the Ubiquiti Networks
    (<a href="http://ubnt.com">http://ubnt.com</a>) office in Krakow.
  </p>

  <p>
    We have a modular SPA (<a href="https://aircrm.ubnt.com/">https://aircrm.ubnt.com/</a>) written in Angular.js,
    with Backbone models, and a RESTful API provided by Django, Erlang and Clojure services running on AWS.
    We are using WebSockets, canvas, Grunt, Karma and Protractor. We have a company CSS components library
    based on Bootstrap and maintained in cooperation with great graphic designers.
  </p>

  <p>
    Our workflow includes Github, JIRA, Jenkins, Codeship. We support only the latest versions of Chrome, Firefox, and IE.
  </p>

  <p>
    The front-end team has 5 members in Krakow and 2 analysts in the US. Our work is organized using Kanban.
  <p/>

  <p>
    We are looking for a person experienced in testing JavaScript - Angular is not a requirement but a nice-to-have -
    with a possibility of transitioning to a developer position.
  </p>

  <p>
    This is - preferably - a full-time position, but part-time is acceptable. The salary ranges from 5000 to 10000 PLN
    monthly (gross, full-time), depending upon experience. Remote work of up to ~40% time is acceptable.
  </p>

  <p>
    We work on MacBooks Pro, with 2 x 24’’ monitors and Webstorm, but other configurations are acceptable too. We offer
    private health care, excellent coffee, free snacks, and fun people to work with.
  </p>

  <p>
    Please apply to <a href="mailto:recruitment-cracow@ubnt.com">recruitment-cracow@ubnt.com</a>. We are programmers
    recruiting programmers, technical details appreciated.
  </p>

  <p>
    <a class="btn btn-primary btn-lg" href="mailto:recruitment-cracow@ubnt.com" role="button">Apply!</a>
  </p>

  <p>
    This project was developed by <span id="author">{{About.author}}</span>.
  </p>
</div>



