<div class="cart col-md-4">
  <h3>Shopping Cart</h3>
  <p ng-show="isEmpty()">
    Your shopping cart is empty.
  </p>
  <table ng-hide="isEmpty()" class="table" id="cart">
    <tbody>
      <tr ng-repeat="product in products" data-id="{{product.device.id}}">
        <td>
          {{product.device.name}}
          <span class="badge">{{product.quantity}}</span>
          <button type="button" class="close" ng-click="removeDevice(product.device.id)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
