<div class="row">
  <div ng-show="Catalog.isLoading" class="alert alert-warning" role="alert">
    loading devices...
  </div>

  <div ng-hide="Catalog.isLoading" class="col-md-8">
    <h3>Catalog</h3>
    <table class="table" id="devices">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="device in Catalog.devices" data-id="{{device.id}}">
          <td>{{device.name}}</td>
          <td><img ng-src="{{device.image}}" class="img-circle"></td>
          <td><button ng-click="Catalog.addDevice(device)" type="button" class="btn btn-primary">Select</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-hide="Catalog.isLoading" class="col-md-4 bg-warning">
    <h3>Cart</h3>
    <table class="table" id="cart">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in Catalog.products" data-id="{{product.device.id}}">
          <td>
            {{product.device.name}}
            <span class="badge">{{product.quantity}}</span>
            <button type="button" class="close" ng-click="Catalog.removeDevice(product.device.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
